@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --main-font: "Pixelify Sans", sans-serif;
  --sec-font: "poppins", sans-serif;

  --hp-bar: #45d35c;
  --hp-bar-bg: #163a22;

  --border: #d8b15a;

  --name: #f6f3e7;

  --skill-bg: #142b59;
  --shadow: rgba(0, 0, 0, 0.5);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  image-rendering: pixelated;
}
body {
  width: 100%;
  min-height: 100vh;
  background-image: url(assets/battleback.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* resultado */
.versus {
  font-family: var(--sec-font);
  font-weight: bold;
  font-size: 1.5em;
}

.result-container {
  width: 100%;
  max-width: 500px;
  margin-top: 8px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  & .move-container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 16px;
    & .player-move,
    .enemy-move {
      width: 75px;
      height: 75px;
      background-color: var(--skill-bg);
      border: 1px solid var(--border);
      border-radius: 10px;
      box-shadow: 3px 3px 5px var(--shadow);
      overflow: hidden;

      display: flex;
      flex-direction: column;
      align-items: center;
      & .move-name {
        width: 100%;
        background-color: var(--border);
        font-family: var(--main-font);
        color: var(--name);
        text-align: center;
      }
      & .icon-move {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        & .p-icon,
        .e-icon {
          width: 50%;
          max-height: 100%;
        }
      }
    }
  }
  & .winner-container {
    width: 50%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--skill-bg);
    border: 1px solid var(--border);
    border-radius: 5px;
    box-shadow: 3px 3px 5px var(--shadow);
    text-align: center;
    font-family: var(--sec-font);
    font-weight: bold;
    font-size: 1.5em;
    color: var(--border);
    text-shadow: 3px 3px 5px black;
  }
}

/* enemy */
.enemy-hp-number,
.player-hp-number {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
  font-family: var(--sec-font);
  font-weight: thin;
  padding-left: 2px;
  position: absolute;
}
.enemy-container,
.player-container {
  width: 100%;
  max-width: 500px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  & .hp-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    & .enemy-name,
    .player-name {
      font-family: var(--main-font);
      color: var(--name);
      text-shadow: 3px 3px 5px var(--shadow);
    }
    & .enemy-bar,
    .player-bar {
      width: 150px;
      height: 20px;
      background-color: var(--hp-bar-bg);
      border: 1px solid var(--border);
      box-shadow: 3px 3px 5px var(--shadow);
      overflow: hidden;
      & .enemy-progress,
      .player-progress {
        width: 100%;
        height: 100%;
        background-color: var(--hp-bar);
        transition: all 0.3s ease-in;
      }
    }
  }
  & .enemy-sprite {
    width: 75px;
    margin-left: 32px;
    transition: all 0.3s ease-in-out;
    & img {
      height: 100%;
      filter: drop-shadow(3px 3px 5px var(--shadow));
    }
  }
  & .player-sprite {
    width: 100px;
    margin-right: 16px;
    transition: all 0.3s ease-in-out;
    & img {
      height: 100%;
      filter: drop-shadow(3px 3px 5px var(--shadow));
    }
  }
}
.player-container {
  align-items: flex-end;
  & .hp-container {
    align-items: flex-end;
  }
}

/* skillbar */
.skill-bar {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* padding: 4px; */
  gap: 16px;
  & .skill,
  .sound-button {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--skill-bg);
    border: 2px solid var(--border);
    border-radius: 5px;
    box-shadow: 3px 3px 5px var(--shadow);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    & img {
      width: 100%;
      max-height: 100%;
    }
  }
  & .skill:hover,
  .sound-button:hover {
    transform: scale(1.05);
  }
}
.sound-button {
  color: var(--border);
  font-size: 2em;
}

.restart {
  display: none;
  max-width: 275px;
  padding: 8px;
  border: 1px solid var(--border);
  border-radius: 10px;
  box-shadow: 3px 3px 5px var(--shadow);
  background-color: var(--skill-bg);
  color: var(--border);
  font-size: 2.5em;
  text-align: center;
  font-family: var(--main-font);
  text-shadow: 3px 3px 5px var(--shadow);
  z-index: 99;
  opacity: 0.9;
  cursor: pointer;

  position: absolute;
  top: 50%;
  transition: all 0.3s ease-in;
}
.restart:hover {
  transform: scale(1.05);
}

.inactive {
  filter: grayscale(100%);
  pointer-events: none;
}

@keyframes enemy-take-hit {
  0% {
    transform: translateY(0);
    filter: saturate(0);
  }
  50% {
    transform: translateY(-10px);
    filter: saturate(100);
  }
  100% {
    transform: translateY(0);
    filter: saturate(0);
  }
}
@keyframes player-take-hit {
  0% {
    transform: translateY(0);
    filter: saturate(0);
  }
  50% {
    transform: translateY(10px);
    filter: saturate(100);
  }
  100% {
    transform: translateY(0);
    filter: saturate(0);
  }
}

.player-attack {
  animation: enemy-take-hit 0.5s ease-in-out;
}
.enemy-attack {
  animation: player-take-hit 0.5s ease-in-out;
}
