.enemy-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.info-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.enemy-name {
  font-family: var(--sec-font);
  font-size: 1.2em;
  letter-spacing: 2px;
  text-shadow: 1px 1px 3px var(--shadow);
  color: var(--text-color);
}
.enemy-hp-bar {
  width: 150px;
  height: 15px;
  background-color: var(--hp-bg);
  border: 1px solid var(--card-border);
  box-shadow: 3px 3px 5px var(--shadow);
}
.enemy-hp-progress {
  width: 90%;
  height: 100%;
  background-color: var(--hp-bar);
  transition: all 0.3s ease-in;
}
.enemy-hp-number {
  position: absolute;
  font-size: 0.8em;
  margin-left: 4px;
}
.sprite-container {
  width: 50px;
}
.sprite-container img {
  max-width: 100%;
  filter: drop-shadow(3px 3px 5px var(--shadow));
}
