@media screen and (min-width: 700px) {

}


/* & div {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    flex: 1;
    
    border-bottom: 1px solid #6b728059;
    padding-bottom: 8px;
  } */