
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --background: #f8f5f1;
  --background-secondary: #efe7df;
  --primary-red: #8b000f;
  --secondary-red: #b11226;
  --primary-gold: #c9a14a;
  --secondary-gold: #c9a14a;
  --text: #8d8d8d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}


body {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--primary-red);

  font-family: montserrat, sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "playfair display", serif;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 16px;
  background-color: var(--primary-red);
}
header .menu,
.shop {
  font-size: 2rem;
  color: var(--primary-gold);
  cursor: pointer;

  transition: transform 0.5s ease-in-out;
}
.menu:hover,
.shop:hover {
  transform: scale(1.1);
}
header .logo {
  width: 130px;
}

.line {
  width: 90%;
  border-top: 1px solid var(--primary-gold);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 64px;
}