
/* ---------------------- */

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  border-bottom: 2px solid var(--primary-gold);
}
main h4 {
  color: var(--primary-gold);
  font-size: 0.8rem;
}
main h2 {
  text-align: center;
  color: var(--background-secondary);
  font-weight: normal;
}
main h2 span {
  color: var(--primary-gold);
  font-weight: bold;
}
main p {
  width: 70%;
  text-align: center;
  color: var(--background-secondary);
  font-weight: normal;
  font-size: 0.8rem;
}
main img {
  width: 350px;
}

/* ---------------------- */

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background);
  padding: 32px;
  gap: 16px;
}
footer button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 8px;
  width: 200px;
  border: 2px solid var(--primary-gold);
  border-radius: 5px;
  background-color: var(--primary-red);
  color: var(--primary-gold);

  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}
footer button:hover {
  transform: scale(1.1);
}
footer button a {
  text-decoration: none;
  color: var(--background);
  font-family: "playfair display", sans-serif;
  font-weight: bolder;
}
footer h4 {
  color: var(--primary-gold);
}
footer ul {
  display: flex;
  list-style: none;
  gap: 32px;
}
footer ul li {
  font-size: 2.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border: 1px solid var(--primary-red);
  border-radius: 50%;
  color: var(--primary-red);

  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}
footer ul li:hover {
  transform: scale(1.1);
}
.star-icon {
  width: 50px;
}
