main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
h2 {
  font-size: 1em;
}
.status {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  padding: 16px;

  background-color: var(--card-bg);
  border: 1px solid var(--border);
  border-radius: 15px;
  box-shadow: 3px 3px 5px var(--shadow);
}
.avatar-img {
  width: 50px;
  height: 50px;
  border: 1px solid var(--border);
  border-radius: 50%;
  box-shadow: 3px 3px 5px var(--shadow);
}
.level {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.xp-container {
  position: relative;
  width: 90%;
  height: 20px;
  border: 1px solid var(--border);
  border-radius: 5px;
  overflow: hidden;
}
.xp-progress {
  width: 0%;
  height: 100%;
  background-color: var(--xp);
  border-radius: 5px;

  transition: width 0.3s ease;
}
.xp-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 2;
  pointer-events: none;
}

/* tarefas */
.tasks {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.add-task-container {
  width: 100%;
  background-color: var(--card-bg);
  border: 1px solid var(--border);
  border-radius: 10px;
  padding: 16px;
  box-shadow: 3px 3px 5px var(--shadow);

  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 8px;
}
.add-task-btn {
  border: 1px solid var(--border);
  border-radius: 5px;
  box-shadow: 1px 1px 3px var(--shadow);
  width: 25px;
  height: 25px;
  background-color: var(--button);
  font-weight: bolder;

  cursor: pointer;
  transition: all 0.3s ease-in;
}
.add-task-btn:hover {
  transform: translateY(-2px);
  background-color: var(--button-hover);
}

.new-task-container {
  background-color: var(--card-bg);
  border: 1px solid var(--border);
  border-radius: 10px;
  box-shadow: 3px 3px 5px var(--shadow);

  width: 100%;
  padding: 16px;

  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}
.close-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.close-container span {
  border: 1px solid var(--border);
  border-radius: 5px;
  box-shadow: 1px 1px 3px var(--shadow);
  background-color: var(--button);
  width: 25px;
  height: 25px;
  text-align: center;
  cursor: pointer;
  color: #000;
  font-weight: bolder;

  transition: all 0.3s ease-in;
}
.close-container span:hover {
  transform: translateY(-2px);
  background-color: var(--button-hover);
}

.input-container {
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-template-rows: repeate(2, auto);
  gap: 8px;
}

.icon {
  width: 60px;
  height: 60px;
  border: 1px solid var(--border);
  border-radius: 5px;
  background-color: var(--main-bg);
  box-shadow: 3px 3px 5px var(--shadow);
  grid-row: span 2;

  transition: .3s ease-in;
  cursor: pointer;
}
.icon img {
  width: 100%;
}
.icon:hover {
  transform: translateY(-2px);
}
.input-name,
.input-desc {
  background-color: var(--main-bg);
  border: 1px solid var(--border);
  border-radius: 5px;
  padding: 2px;
  outline: none;
  color: var(--secondary-text);
  padding-left: 8px;
}
.create-task-btn {
  width: 60px;
  background-color: var(--button);
  border: 1px solid var(--button);
  border-radius: 5px;
  box-shadow: 1px 1px 3px var(--shadow);
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.create-task-btn:hover {
  transform: translateY(-2px);
  background-color: var(--button-hover);
}
.warning-container {
  width: 100%;
  display: flex;
  gap: 12px;
}
.warning-text {
  display: none;
  color: var(--warning);
}
.task-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.task {
  width: 100%;
  background-color: var(--card-bg);
  border: 1px solid var(--border);
  border-radius: 10px;
  box-shadow: 3px 3px 5px var(--shadow);
  padding: 16px;

  display: flex;
  flex-direction: row;
  gap: 8px;
}
.task-icon {
  width: 60px;
  height: 60px;
  border: 1px solid var(--border);
  border-radius: 5px;
  background-color: var(--main-bg);
  box-shadow: 3px 3px 5px var(--shadow);
}
.task-icon img {
  width: 100%;
}
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.check-button,
.del-button {
  width: 25px;
  height: 25px;
  border: 1px solid var(--border);
  border-radius: 5px;
  box-shadow: 1px 1px 3px var(--shadow);
  background-color: var(--main-bg);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4px;

  color: var(--secondary-text);

  cursor: pointer;
}
.check-button {
  color: var(--success);
}
.exp-container {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.exp-container span {
  color: purple;
  font-weight: bold;
}
.exp {
  font-family: var(--trd-font);
  font-weight: bolder;
  color: purple;
}


.checked {
  border-color: var(--success);
  pointer-events: none;
}

.icon-container {
  z-index: 999;
  width: 200px;
  height: 200px;
  background-color: var(--card-bg);
  border: 1px solid var(--border);
  border-radius: 5px;
  box-shadow: 3px 3px 5px var(--shadow);

  position: fixed;
  display: none;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 4px;
  padding: 4px;
}
.item {
  width: 60px;
  height: 60px;
  object-fit: contain;
  background-color: var(--main-bg);
  border: 1px solid var(--border);
  border-radius: 5px;
  box-shadow: 1px 1px 3px var(--shadow);

  cursor: pointer;
  transition: all .3s ease-in-out;
}
.item:hover {
  transform: translateY(-2px);
}

.selected {
  border-color: var(--gold);
}
