main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
h2 {
  font-size: 1em;
}
.status {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  padding: 16px;

  background-color: var(--card-bg);
  border: 1px solid var(--border);
  border-radius: 15px;
  box-shadow: 3px 3px 5px var(--shadow);
}
.avatar-img {
  width: 50px;
  height: 50px;
  border: 1px solid var(--border);
  border-radius: 50%;
  box-shadow: 3px 3px 5px var(--shadow);
}
.level {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.xp-container {
  position: relative;
  width: 90%;
  height: 20px;
  border: 1px solid var(--border);
  border-radius: 5px;
  overflow: hidden;
}
.xp-progress {
  width: 0%;
  height: 100%;
  background-color: var(--xp);
  border-radius: 5px;

  transition: width 0.3s ease;
}
.xp-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 2;
  pointer-events: none;
}

/* tarefas */
.tasks {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.task-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  padding: 16px;

  width: 100%;
  background-color: var(--card-bg);
  border: 1px solid var(--border);
  border-radius: 10px;
  box-shadow: 3px 3px 5px var(--shadow);
}
.task-img {
  width: 50px;
  height: 50px;
  border: 1px solid var(--border);
  border-radius: 50%;
  box-shadow: 3px 3px 5px var(--shadow);

  overflow: hidden;
}
.task-img img {
  width: 100%;
  object-fit: cover;
}
.checkbox {
  width: 15px;
  height: 15px;
  border: 1px solid var(--border);
  box-shadow: 1px 1px 3px var(--shadow);
  background-color: var(--main-bg);
  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: green;
  font-family: var(--trd-font);
  font-weight: bold;

  cursor: pointer;
}
.checked {
  border-color: green;
}
.task-xp {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.task-number {
  color: purple;
  font-weight: bold;
}
.task-xp span {
  color: purple;
}