.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.top-container {
  width: 320px;
  padding: 4px;

  display: flex;
  align-items: center;
  justify-content: space-around;
}
.stage-container,
.round-container,
.mute-btn {
  width: 60px;
  height: 50px;
  border: 1px solid var(--card-border);
  border-radius: 5px;
  box-shadow: 3px 3px 5px var(--shadow);
  background-color: var(--card-bg);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;

  color: var(--text-color);
  font-size: 0.6em;
  font-family:var(--main-font);
  font-weight: normal;
  text-shadow: 1px 1px 3px var(--shadow);
}
.mute-btn{
  font-size: 2.5em;
  cursor: pointer;
  transition: all 0.3s ease-in;
  padding-bottom: 5px;
}
.refresh-btn {
  font-size: 2em;
}
.mute-btn:hover {
  color: var(--card-border);
}


.status-container {
  display: flex;
  align-items: center;
  gap: 16px;
}
.player-move, .enemy-move {
  border: 2px solid var(--card-border);
  border-radius: 5px;
  box-shadow: 3px 3px 5px var(--shadow);
  background-color: var(--card-bg);
  width: 50px;
  height: 60px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.player-move span, .enemy-move span {
  text-align: center;
  font-size: .7em;
  width: 100%;
  background-color: black;
  color: var(--text-color);
  padding: 2px;
}
.img-container {
  width: 75%;
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-container img {
  max-width: 100%;
  max-height: 100%;
}

.result {
  width: 150px;
  height: 50px;
  background-color: var(--card-bg);
  border: 2px solid var(--card-border);
  border-radius: 5px;
  box-shadow: 3px 3px 5px var(--shadow);
  text-align: center;
  padding: 8px;
  font-family: var(--main-font);
  color: var(--text-color);

  display: flex;
  align-items: center;
  justify-content: center;
}
