@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  color: #fff;
}

:root {
  interpolate-size: allow-keywords;
}

/* fontes globais */
h1,
h2,
h3,
summary {
  font-family: montserrat, sans-serif;
  font-weight: bold;
}
li {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  list-style: none;
}
/* fontes globais */

detais::details-content {
  block-size: 0;
  transition: block-ssize .5s ease-in-out;
}
details[open]::details-content {
  block-size: auto;
}

body {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: linear-gradient(to right, #213463, #085cb1);
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;

  background-color: #111827;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.header {
  padding: 1.5rem;
  display: grid;
  place-items: center;
  grid-template-areas: "title title" "img info";
  gap: 1.5rem;
}
.header h1 {
  grid-area: title;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}
.header img {
  grid-area: img;
  border-radius: 50%;
  width: 120px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}
.header ul {
  grid-area: info;
}

.skills,
.language,
.project,
.social-media {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  padding: 0.5rem;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);

  display: flex;
  flex-direction: column;
  width: 100%;
  cursor: pointer;
  transition: all 0.5s ease-in;
}
details[open] {
  background-color: rgb(32, 73, 121);
}
details:hover {
  background-color: rgb(32, 73, 121);
}
.skills h3 {
  font-size: 0.9rem;
  margin-top: 0.5rem;
}
.skills ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  & i {
    font-size: 1.8rem;
  }
}

.project img {
  width: 200px;
}
.project i {
  font-size: 3rem;
  transition: all 0.5s ease-in-out;
  color: #111827;
}
.project i:hover {
  color: #fff;
}

.image-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.carousel {
  display: flex;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  width: 100%;
}

.carousel-item {
  min-width: 100%; 
  height: 100%;
  scroll-snap-align: start; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}
.carousel-item:nth-child(even) {
  background-color: #aaa;
}

.social-media ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  font-size: 2rem;
  margin: 1rem;
}
.social-media ul li {
  transition: all 0.5s ease-in-out;
}
.social-media ul li:hover {
  transform: scale(1.1);
}
