:root {
  --warrior-bg: #800080;
  --mage-bg: #3112a0;
  --hunter-bg: #033803;
}

main {
  display: flex;
  width: 90%;
  max-width: 1200px;
}

.avatar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.avatar-container img {
  height: 200px;
  filter: drop-shadow(1px 1px 3px #ff0000);
}
.avatar-container p {
  letter-spacing: 3px;
}

.class-select {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.class-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.class-card {
  user-select: none;
  background-color: var(--card-bg);
  border: 1px solid black;
  padding: 8px;
  text-align: center;
  cursor: pointer;

  transition: all 0.3s ease-in-out;
}
.class-card:hover {
  transform: translateY(-3px);
  border-color: var(--accent-neon);
}

.color-select {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.save-btn {
  padding: 16px;
}


.selected {
    border: 1px solid var(--accent-neon);
}

.btn-confirmed {
  color: green;
  display: none;
}
