main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container, .register-container {
  width: 90%;
  max-width: 400px;
  border: 1px solid var(--border);
  border-radius: 10px;
  background-color: var(--card-bg);
  box-shadow: 3px 3px 5px var(--shadow);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 16px;
  margin-top: 32px;
}
.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
input {
  width: 200px;
  outline: none;
  padding: 8px;
  border: 1px solid var(--border);
  border-radius: 5px;
  background-color: var(--bg);
  color: var(--secondary-text);
}
.login-button, .register-button {
  padding: 4px;
  width: 100px;
  border: 1px solid var(--border);
  border-radius: 5px;
  background-color: var(--button);
  color: var(--button-text);
  box-shadow: 3px 3px 5px var(--shadow);

  cursor: pointer;
  transition: background-color 0.6s ease-in-out;
}
.login-button:hover, .register-button:hover {
  background-color: var(--button-hover);
}

.error, .register-error {
  color: var(--danger);
}

.register-link {
    text-decoration: none;
    font-family: var(--sec-font);
    color: var(--link);

    transition: all .3s ease-in-out;
}
.register-link:hover {
    color: var(--link-hover);
    transform: translateY(-2px);
}

.register-container {
  position: relative;
  display: none;
}
.back-button {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 8px;
}
.avatar-container, .avatar-item {
  width: 50px;
  height: 50px;
  border: 1px solid var(--border);
  border-radius: 5px;
  box-shadow: 3px 3px 5px var(--shadow);

  overflow: hidden;
  cursor: pointer;

  transition: all .3s ease-in;
}
.avatar-container:hover, .avatar-item:hover {
  transform: translateY(-3px);
}
.avatar-menu {
  width: 170px;
  background-color: var(--card-bg);
  border: 1px solid var(--border);
  border-radius: 10px;
  box-shadow: 3px 3px 5px var(--shadow);
  padding: 4px;

  display: none;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 4px;
  position: absolute;
}
.avatar-item {
  aspect-ratio: 1/1;
}
/* footer */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid var(--border);
  background-color: var(--card-bg);
  padding: 8px;
  text-align: center;
}
footer p {
  font-family: var(--trd-font);
  font-size: 0.8em;
  color: var(--secondary-text);
}
footer a {
  text-decoration: none;
  color: var(--link);
}

.back-button {
  color: var(--secondary-text);
  padding: 4px;
  font-size: 1.3em;
  cursor: pointer;
  transition: all .3s ease-in;
}
.back-button:hover {
  transform: translateY(-2px);
}


@media screen and (min-width: 900px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    footer {
        position: initial;
    }
}
@media screen and (min-width: 1100px) {
    body {
        background-size: cover;
    }
}