.player-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
}
.player-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
}
.player-name {
  font-family: var(--sec-font);
  font-size: 1.2em;
  letter-spacing: 2px;
  text-shadow: 1px 1px 3px var(--shadow);
  color: var(--text-color);
}
.player-hp-bar {
  width: 150px;
  height: 15px;
  background-color: var(--hp-bg);
  border: 1px solid var(--card-border);
  box-shadow: 3px 3px 5px var(--shadow);
}
.player-hp-progress {
  height: 100%;
  background-color: var(--hp-bar);
  transition: all 0.5s ease-in;
}
.player-hp-number {
  position: absolute;
  font-size: 0.8em;
  margin-left: 4px;
}

.player-sprite {
  width: 100px;
  filter: drop-shadow(3px 3px 5px var(--shadow));
  transition: 0.3s ease-in-out;
}

.player-hit {
  animation: attack-player 0.5s;
}

@keyframes attack-player {
  0% {
    transform: translateY(0);
    filter: saturate(0);
  }
  50% {
    transform: translateY(10px);
    filter: saturate(100);
  }
  100% {
    transform: translateY(0);
    filter: saturate(0);
  }
}
